<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <!--namespace:映射的接口的全名  -->
<mapper namespace="cn.tedu.store.mapper.UserMapper">
	<!--插入用户数据  -->
	<!--Integer addnew(User user) -->
	<insert id="addnew" parameterType="cn.tedu.store.entity.User"
	useGeneratedKeys="true" keyProperty="id">
		insert into t_user(
			username,password,
			salt,gender,
			phone,email,
			avatar,is_delete,
			created_user,create_time,
			modified_user,modified_time
		) values (
			#{username},#{password},
			#{salt},#{gender},
			#{phone},#{email},
			#{avatar},#{isDelete},
			#{createdUser},#{createTime},
			#{modifiedUser},#{modifiedTime}
			)
	</insert>
	<!-- 根据用户名查询用户数据 --><!--应用于注册、登录  -->
	<!-- User findByUsername(String username) -->
	<select id="findByUsername" resultType="cn.tedu.store.entity.User">
		select id,username,password,salt,avatar,is_delete isDelete
		from t_user
		where username=#{username}
		
	</select>
	<!--根据用户id查询用户数据  -->
	<select id="findById" resultType="cn.tedu.store.entity.User">
		select username,gender,phone,email,password,salt,is_delete as isDelete
		from t_user
		where id=#{id}
	</select>
	<!-- 更新密码 -->
	<update id="updatePassword">
		update t_user 
		set password=#{password},modified_user=#{modifiedUser},modified_time=#{modifiedTime}
		where id=#{id}
	</update>
	<!-- 修改资料 -->
	<update id="updateInfo" >
		update t_user
		set
			<if test="gender!=null">
				gender=#{gender},
			</if> 
			<if test="phone!=null">
				phone=#{phone},
			</if> 
			<if test="email!=null">
				email=#{email},
			</if> 
			modified_user=#{modifiedUser},
			modified_time=#{modifiedTime}
		where id=#{id}
	</update>
	<update id="updateAvatar">
		update t_user
		set avatar=#{avatar},modified_user=#{modifiedUser},modified_time=#{modifiedTime}
		where id=#{id}
	</update>
</mapper>
